
@{
	ViewBag.Title = "Outcomes";
}
<style>
	h2 {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	h4 {
		margin-top: 10px;
	}
</style>
<h2>Outcomes</h2>
<button id="outcomebymonth" onclick="createChart('@Url.Action("OutcomeByMonth", "Outcomes")', 'Monthly Outcome');" class="btn-primary">By Month</button>
<button id="outcomebyyear" onclick="createChart('@Url.Action("OutcomeByYear", "Outcomes")', 'Annual Outcome');" class="btn-primary">By Year</button>
<div class="row">
	<canvas id="outcomechartContainer"></canvas>
	<canvas id="typeoutcomechartContainer"></canvas>
</div>
<script type="text/javascript">
	var chart = document.getElementById('outcomechartContainer');
	createChart("@Url.Action("OutcomeByMonth", "Outcomes")", "Monthly Income");
	function createChart(url, label_money) {
		$.ajax({
		url: url,
		data: {},
		method: 'post',
		async: true,
			success: function (data) {
				addNewChart(chart, data.labels, label_money, data.money, 'line', '', 'rgb(216, 86, 60)');
			presentChart = url
		}
	});
	}
	var typeChart = document.getElementById("typeoutcomechartContainer");
	$.ajax({
		url: '@Url.Action("OutcomeByType", "Outcomes")',
		data: {},
		method: 'post',
		async: true,
		success: function (data) {
			addNewChart(typeChart, data.labels, 'Type Outcome', data.money, 'line', 'rgb(216,86,40)', 'rgb(216, 86, 60)');
		}
	});
</script>