<button id="btnUpdateChart" class="btn-info" onclick="refresh()">Refresh</button>
<canvas id="chartContainer"></canvas>
<script type="text/javascript">
	$('.active').removeClass;
	$('#product').addClass('active');
	var label_data = @Html.Raw(Json.Encode(ViewBag.month));
	var data_so_tien = @Html.Raw(Json.Encode(ViewBag.outcome));

	var chart_container = document.getElementById('chartContainer');
	addNewChart(chart_container, label_data, 'Outcome', data_so_tien, 'line', '', 'rgb(216, 86, 60)');
	chart_container.options = {
		borderColor: 'rgb(100,91,0)'
	}
	function refresh() {
		var chart = document.getElementById('chartContainer');
		updateChart(chart, '@Url.Action("OutcomeByMonth","Outcomes")');
	}
</script>
