
@{
	ViewBag.Title = "Outcomes";
}
<style>
	h2 {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	h4 {
		margin-top: 10px;
	}
</style>
<h2>Outcomes</h2>
<button id="outcomebymonth" onclick="monthChart()" class="btn-primary">By Month</button>
<button id="outcomebyyear" onclick="annualChart()" class="btn-primary">By Year</button>
<div class="row">
	<canvas id="outcomechartContainer"></canvas>
	<canvas id="typeoutcomechartContainer"></canvas>
</div>
<script type="text/javascript">
	var chart = document.getElementById('outcomechartContainer');	
	monthChart();
	function monthChart() {
		$.ajax({
		url: '@Url.Action("OutcomeByMonth", "Outcomes")',
		data: {},
		method: 'post',
		async: true,
		success: function (data) {
			addNewChart(chart, data.labels, 'Monthly Outcome', data.money, 'line', '', 'rgb(216, 86, 60)');
		}
	});		
	}
	function annualChart() {
		$.ajax({
		url: '@Url.Action("OutcomeByYear", "Outcomes")',
		data: {},
		method: 'post',
		async: true,
		success: function (data) {
			addNewChart(chart, data.labels, 'Annual Outcome', data.money, 'line', '', 'rgb(216, 86, 50)');
		}
	});		
	}
	var typeChart = document.getElementById("typeoutcomechartContainer");
	$.ajax({
		url: '@Url.Action("OutcomeByType", "Outcomes")',
		data: {},
		method: 'post',
		async: true,
		success: function (data) {
			addNewChart(typeChart, data.labels, 'Type Outcome', data.money, 'line', 'rgb(216,86,40)', 'rgb(216, 86, 60)');
		}
	});	
</script>