<h4>Outcome By Type</h4>
<button id="btnUpdateChart" class="btn-info" onclick="refresh()">Refresh</button>
<canvas id="TypeOutcomeChart"></canvas>
<script type="text/javascript">
	$('.active').removeClass;
	$('#product').addClass('active');
	var label_data = @Html.Raw(Json.Encode(ViewBag.type));
	var data_so_tien = @Html.Raw(Json.Encode(ViewBag.money));

	var chart_container = document.getElementById('TypeOutcomeChart');
	var colors = [
		'rgb(124,252,0)',
		'rgb(0,255,255)',
		'rgb(255,0,255)',
		'rgb(165,42,42)',
		'rgb(47,79,79)',
		'rgb(225,240,12)'
	];
	addNewChart(chart_container, label_data, 'Outcome', data_so_tien, 'bar', colors, 'rgb(216, 86, 60)',);
	chart_container.focus()
	function refresh() {
		updateChart(chart_container, '@Url.Action("OutcomeByType")');
	}
	
</script>
