
@{
	ViewBag.Title = "Incomes";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Incomes</h2>
<style>
	h2 {
		margin-top: 10px;
		margin-bottom: 15px;
	}

	h4 {
		margin-top: 10px;
	}
</style>
<button id="refresh" onclick="refresh()" class="btn-primary">Refresh</button>
<button id="outcomebymonth" onclick="createChart('@Url.Action("IncomeByMonth", "Incomes")', 'Monthly Income')" class="btn-primary">By Month</button>
<button id="outcomebyyear" onclick="createChart('@Url.Action("IncomeByYear", "Incomes")', 'Annual Income')" class="btn-primary">By Year</button>
<div class="row">
	<canvas id="incomechartContainer"></canvas>
</div>
<script type="text/javascript">
	var chart = document.getElementById('incomechartContainer');
	var presentChart;
	createChart("@Url.Action("IncomeByMonth", "Incomes")", "Monthly Income");
	function createChart(url, label_money) {
		$.ajax({
		url: url,
		data: {},
		method: 'post',
		async: true,
			success: function (data) {
				addNewChart(chart, data.labels, label_money, data.money, 'line', '', 'rgb(216, 86, 60)');
			presentChart = "@Url.Action("IncomeByMonth", "Incomes")";
		}
	});
	}
	function refresh() {
		updateChart(chart, presentChart);
	}
</script>
